/* •••••••••••••••••••••••
••HEADING
••••••••••••••••••••••• */
* {
    border: 2px dotted wheat;
}

h1 {
    width: 90%;
    margin: auto;
    text-align: center;
    border: 5px solid  #f20505;
    color: black;

}

/* •••••••••••••••••••••••
••QUESTION
••••••••••••••••••••••• */

#question {
    width: 70%;
    padding: 30px;
    border: 5px solid  #f20505;
    background-color:   black;
    color: #f9d70b;
    font-size: 28px;
    margin: auto;
}

/* •••••••••••••••••••••••
••ANSWERS
••••••••••••••••••••••• */

#answer {
    width: 60%;
    margin: 10px auto;
    color: white;
    background-color: #f20505;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
#answer ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0%;
}
#answer ul li {
    width: 45%;
    height: 40px;
    background-color: black;
    padding-top: 15px;
    text-align: center;
    margin: 10px;
    font-weight: bolder;
}

/* •••••••••••••••••••••••
••SCOREBOARD
••••••••••••••••••••••• */

#scores {
    display: flex;
    width: 70%;
    background-color: #f20505;
    border: 4px solid black;
    justify-content: center;
    margin: 10px auto;
    
}
#playr1, #playr2 {
    width: 40%;
    background-color: #f0e046;
    margin: 5px;
    text-align: center;

}